@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Cairo', sans-serif !important;
}
/* ----------------- Footer-Adjustments ----------------------- */

  :root
  {
  --main-color: #4fb2b2;
  --secound-color: #a4bf54;
  --third-color: #313231;
  }
/* Style for the dots */
.dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 50%;
  margin-right: 6px;
}
/* Remove the bottom line from links */
ul.list-unstyled li a {
  text-decoration: none;
  border-bottom: none;
  transition: 0.5s;
}
ul.list-unstyled li a:hover {
  color: var(--main-color) !important; /* Change to your desired hover color */
  transition: 0.5s;
}
#footer-logo {
  width: 16em;
  height: auto;
}
#to-blue
{
  transition: 0.5s !important;
}
#to-blue:hover {
  color: var(--main-color) !important; /* Change to your desired hover color */
  transition: 0.5s;
}