@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Cairo', sans-serif !important;
}
:root
{
--main-color: #4fb2b2;
--secound-color: #a4bf54;
--third-color: #313231;
}
body{
  overflow-x: hidden;
}
.cover-section12 {
  background: url("../imgs/FacultyOfHealthSciencesTechnology-cover-dark.jpg")
    center/cover no-repeat;
  background-attachment: fixed;
  height: 60vh; /* Adjust the height as needed */
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 520;
}
#cover-text {
  margin-bottom: 5rem;
}
#cover-text a {
  text-decoration: none;
  color: white;
}
.text-center {
  text-align: center;
}
/* Custom styles for h2 and p elements */
.cover-section12 h2 {
  font-size: 4rem; /* Set the font size for h2 to 2rem (32px) */
  text-transform: uppercase;
}
.cover-section12 p {
  font-size: 1rem; /* Set the font size for p to 1rem (16px) */
}
/* Custom CSS for styling */
.contact-form-container {
  border: 2px solid var(--main-color);
  padding: 30px;
  border-radius: 10px;
}
.contact-form-container h2 {
  text-transform: uppercase;
}
@media (max-width: 576px) {
  #cover-text h2 {
    font-size: 3rem; /* Adjust the font size as needed for small screens */
  }
}
/* ----------------- Dean-Section-Adjustments ----------------------- */
/* Flexbox container */
.dean-box {
  background-color: white;
  display: flex;
  align-items: center; /* Vertically center content */
}
/* Style for the dean's photo */
.dean-photo {
  flex: 1;
  width: 20rem;
  height: auto;
  /* margin-right: 50px; */
  /* margin-left: 100px; */
}
/* Style for the dean's message */
.dean-word {
  flex: 2;
}
.dean-word h5 {
  font-size: 17px;
  font-weight: lighter;
}
/* Style for the president's photo (optional) */
.dean-photo img {
  max-width: 70%;
  height: auto;
  display: block;
  margin-bottom: 4rem;
}
@media (max-width: 576px) {
  .dean-photo img {
    max-width: 70%;
    margin-right: 10em !important;
  }
}
/* ----------------- University-Programs-photos ----------------------- */ 
.containerP {
  display: flex;
  flex-wrap: wrap;
}

.col-xs-12 {
  display: flex;
  flex-direction: column;
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border-color: var(--main-color);
  border-radius: 2px;
  transition: box-shadow 0.25s;
}

.card:hover {
  box-shadow: 0 2px 5px 0 var(--main-color), 0 2px 10px 0 var(--main-color);
}
.img-card {
  position: relative;
  overflow: hidden;
}

.img-card img {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.img-card img:hover {
  opacity: 0.7; /* Adjust the opacity value to your preference */
}
.img-card {
  flex: 1;
  width: 100%;
  height: 200px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  overflow: hidden;
}

.img-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.25s ease;
}

.card-content {
  flex: 1;
  padding: 15px;
  text-align: left;
}

.card-title2 {
  margin-top: 0px;
  font-weight: 700;
  font-size: 1.65em;
}

.card-title2 a {
  color: #000;
  text-decoration: none !important;
}

.card-read-more {
  border-top: 1px solid var(--main-color);
}

.card-read-more a {
  text-decoration: none !important;
  color: var(--main-color);
  padding: 10px;
  font-weight: 600;
  transition: 0.5s;
  text-transform: uppercase;
}

.card-read-more a:hover {
  transition: 0.5s;
  color: var(--secound-color);
}


/* ----------------- Scroll-Bar-Adjustments ----------------------- */
/* Track */
::-webkit-scrollbar {
  width: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color); /* Change this to your desired color */
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secound-color); /* Change this to your desired color on hover */
}
/* ----------------- Scroll-Bar-Adjustments ----------------------- */